<p>
<% unless (defined? external_page) && external_page %>
  <a href='/dashboard'>Dashboard</a> |
  <a href='/stalls'>Find a Stall</a> |
  <a href='/sessions/sign_out'>Log Out</a>
<% end %>
</body>
</html>
