<!DOCTYPE HTML SYSTEM>
<html>
<head>
  <title><%= title_text(title) %></title>
  <link rel="stylesheet" type="text/css" href="/airstable.css">
</head>
<body>
  <h2>Air Stable</h2>

  <% if object && object.errors.any? %>
    <div class='form-errors'>
      <h3>Whoa, something's up: </h3>
      <ul class='error-messages'>
        <% object.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice = get_flash(:notice) %>
    <div id="flash-notice">
      <%= notice %>
    </div>
  <% end %>
