<%= erb :_header, locals: { title: title, object: user } %>

<!-- WHY IS THIS BUTTON FLOATING OVER THE 'RENTAL REQUEST CREATED!' FLASH NOTICE? -->
<button><a href='/stalls/new'>Add a Stall</a></button>

<h2>Incoming Requests</h2>

<!-- CHANGE TO DISPLAY ACCEPTED AND DECLINED REQUESTS -->
<% user.stalls.each do |stall| %>
  <% stall.rental_requests.each do |rental_request| %>
    <%= erb :'/stalls/rental_requests/_pending_rental_request_form', locals: { user: user, rental_request: rental_request, status: :pending } %>
  <% end %>
<% end %>

<h2>Outgoing Requests</h2>

<% user.rental_requests.each do |rental_request| %>
  <%= erb :'/stalls/rental_requests/_pending_rental_request_form', locals: { user: user, rental_request: rental_request, status: :pending } %>
<% end %>

<%= erb :_footer %>
