<%= erb :_header %>

<h1>Air Stable</h1>
<h2>Share a "Neigh"-borly stable!</h2>
<p>
<form action='' method='post'>
  <input type='text' name='email' placeholder='Email address'>
  <p/>
  <input type='text' name='password' placeholder='Password'>
  <p/>
  <button type='submit'>Log in</button>
</form>
<p>
Not a member? <a href='users/new'>Register now!</a>

<%= erb :_footer %>
