<%= erb :_header, locals: { object: user } %>

<h2>Create an Account</h2>
<p>

<form id='create-account-form' action='/users/new' method='post'>
  Username
  <br>
  <input type='text' name='user[username]' value='<%= user[:username] %>' placeholder='MisterEd'>
  <p/>

  Email address
  <br>
  <input type='text' name='user[email]' value='<%= user[:email] %>' placeholder='yourname@domain.com'>
  <p/>

  Password
  <br>
  <input type='text' name='user[password]' placeholder='Minimum 6 characters'>
  <p/>

  Confirm password
  <br>
  <input type='text' name='user[password_confirmation]' placeholder=''>
  <p/>
  <button type='submit'>Create</button>
</form>
<p>

<%= erb :_footer %>
